

.burger-menu {
 
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 40px;
    height: 30px;
   
  }

  &__nav {
    background-color:  rgba(11, 11, 11, 0.802);
    
    position:fixed;
    top: 1px;
   
    bottom: 3;
    width: 100px;
    padding: 20px;
    margin-top: 100px;
    
    
   

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        a {
          font-size: 20px;
          color: #05f705;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      
      }
    }
  }
}

