
.burger-menu {
   position: relative;
   display: inline-block;
   cursor: pointer;
 }
 
 .burger-menu__nav {
   position: absolute;
   display: none;
   background-color: #fff;
   border: 1px solid #ccc;
   padding: 10px;
 }
 
 .burger-menu__nav ul {
   list-style: none;
   padding: 0;
 }
 
 .burger-menu__nav li {
   margin-bottom: 10px;
 }
 
 .burger-menu__nav a {
   color: #333;
   text-decoration: none;
 }
 
 .burger-menu:hover .burger-menu__nav {
   display: block;
 }
 
  
