.header{
    background-color: #E8DFC3 ;
     display: flex;
     justify-content: center; 
     align-items: center; 
     .logo{
        width: 150px;
        height: 120px;
        
       
        
    
        
    }
}

