.header{
    background-color: #E8DFC3 ;
     display: flex;
     justify-content: center; 
     align-items: center; 
}

.logo{
    width: 80px;
    height: 80px;
    display: flex;
    z-index: 1;
    

    
}