//  .container_about {
//      background-color: #f5f5f5;
//      padding: 20px;
//    }

//    .titulo_about{
//      font-size: 24px;
//      color: #333;
//      margin-bottom: 10px;
//    }

//    .about_p{
//      font-size: 16px;
//      color: #666;
//      line-height: 1.5;
//    }



//    .container_about {
//     text-align: center;
//     max-width: 800px;
//     margin: 0 auto;
//     padding: 20px;
//   }

//   .titulo_about {
//     font-size: 24px;
//     color: #333;
//     margin-bottom: 10px;
//   }

//   .about_p {
//     font-size: 16px;
//     color: #666;
//     line-height: 1.5;
//   }

// .font_about{
// background-image:url(https://i.pinimg.com/236x/7c/22/a8/7c22a8f5d2ff0aa42249a44c00b273d1.jpg) ;
// }


// .container_about {
//     text-align: center;
//     max-width: 800px;
//     margin: 0 auto;
//     padding: 20px;
//     background-color: #f5f5f5;
//     border-radius: 8px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     margin-top: 100px;
//   }

//   .titulo_about {
//     font-size: 24px;
//     color: #333;
//     margin-bottom: 10px;
//   }

//   .about_p {
//     font-size: 16px;
//     color: #666;
//     line-height: 1.5;
//     margin-bottom: 0;
//   }


// .font_about {
//     background-image: url(https://i.pinimg.com/236x/7c/22/a8/7c22a8f5d2ff0aa42249a44c00b273d1.jpg);
//     background-size: cover;
//     background-position: center;
//   }
  
//   .container_about {
//     text-align: center;
//     max-width: 800px;
//     margin: 0 auto;
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     margin-top: 100px;
//     background-color: rgba(255, 255, 255, 0.8);
//   }
  
//   .titulo_about {
//     font-size: 24px;
//     color: #333;
//     margin-bottom: 10px;
//   }
  
//   .about_p {
//     font-size: 16px;
//     color: #666;
//     line-height: 1.5;
//     margin-bottom: 0;
//   }
  

// .font_about {
//     background-image: url(https://i.pinimg.com/236x/7c/22/a8/7c22a8f5d2ff0aa42249a44c00b273d1.jpg);
//     background-size: cover;
//     background-position: center;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .container_about {
//     text-align: center;
//     max-width: 400px;
//     padding: 20px;
//     background-color: #f5f5f5;
//     border-radius: 8px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   }
  
//   .titulo_about {
//     font-size: 24px;
//     color: #333;
//     margin-bottom: 10px;
//   }
  
//   .about_p {
//     font-size: 16px;
//     color: #666;
//     line-height: 1.5;
//     margin-bottom: 0;
//   }

.font_about {
    background-image: url(https://img.freepik.com/foto-gratis/pocas-vacas-prado_1398-5043.jpg);
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 50px); 
    display: flex;
    justify-content: center;
    align-items: flex-start; 

  }
  
  .container_about {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 160px; 
   

  }
  
  .titulo_about {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about_p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
  }
  
  