body {
  height: auto;
  background-color: gray;

  .div-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


  }
  .button_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1vh;
  }
  button{
    margin-top: 5px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

}