$color-primario: #4caf50;
$color-secundario: #8bc34a;
$color-fondo: #f2f2f2;

.container {
  height: 90vh;
  max-width: 400%;
  margin: 0 auto;
  padding: 20px;
  background-color: $color-fondo;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .texto-home {
    margin-bottom: 20px;
    text-align: center;
  }

  .cabecera {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: $color-primario;
  }

  .cabecera1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: $color-primario;
  }

  .texto,
  .texto1,
  .texto2,
  .texto3,
  .texto4 {
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .register{
    margin-top: 25px;
    color: red;
    font-size: 20px;
   }

  .api {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 24px;
    color: $color-primario;
  }

  .home-form {
    margin-top: 20px;
    
  }
  .login{
    text-align: center;
    
  }


  button.home4 {
    display: inline-block;
    padding: 5px 35px;
    background-color:$color-primario ;
    color: #FFF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: px;
  }
  
  
  button.home4:hover {
    background-color:$color-primario ;
    cursor: pointer;
    transform: scale(1.1);
    color: black;
  }
  
  button.home4:active {
    background-color: #8bc34a ;
    transform: translateY(1px);
  }
  
 
  button.home4 span {
    display: inline-block;
    vertical-align: middle;
    
  }
  @media (max-width: 600px) {
    .container {
      max-width: 100%;
    }
  }
  }

  
  

