$color-primario: #4caf50;
$color-secundario: #8bc34a;
$color-fondo: #f2f2f2;

.containerhome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 83.4vh;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: $color-fondo;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .texto-home {
    margin-bottom: 20px;
    width: 60vh;
  }

  .cabecera {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: $color-primario;

    .cabecera_Link {
      text-decoration: none;
      color: $color-primario;
    }
  }

  .cabecera1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: $color-primario;
  }

  .texto1,
  .texto2,
  .texto4 {
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    text-align: center;
  }

  .register {
    margin-top: 25px;
    font-weight: 500;
    font-size: 20px;
  }
  .span_register{
    font-size: 18px;
  }

  .api {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 20px;
    color: $color-primario;
  }

  .home-form {
    margin-top: 20px;
  }

  .loginhome {
    text-align: center;
  }

  button.home4 {
    display: inline-block;
    padding: 5px 25px;
    background-color: $color-primario;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }

  button.home4:hover {
    background-color: $color-secundario;
    cursor: pointer;
    transform: scale(1.1);
    color: black;
  }

  button.home4:active {
    background-color: #8bc34a;
    transform: translateY(1px);
  }

  button.home4 span {
    display: inline-block;
    vertical-align: middle;
  }

  @media (max-width: 390px) {
    .containerhome {
      height: 844px;
    
      
    }
    .texto-home{
        width: 80%;
      }
    .cabecera{
      font-size: xx-large;
    }  
    .cabecera1{
      font-size: large;
    }
    
  }
}
