.login2 {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.agromaquinaria.es/noticias/fotos/la-ganaderia-extensiva-un-0967446001629281468.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.form_login {
  width: 100%;
  max-width: 400px;
  margin: 50px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;

  label {
    font-size: 25px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fefeff;
  }

  .p_error {
    border-radius: 10px;
    color: rgb(243, 18, 18);
    font-size: 15px;
    padding: 8px;
  }

  input {
   
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
    border-color: #886214;
    border-radius: 5px;
    border-width: 5px;
  }
}
.botlogin{
  display: flex;
  

  justify-content: center; 
}

.boton_login{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #886214;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
  
    transform: scale(1.1);
  }

  &:active {
    transform: translateY(3px);
  }

  @media (max-width: 480px) {
    &:hover {
      background-color: #654321;
    }
  }

}
