$color-primario: #4caf50;
$color-secundario: #8bc34a;
$color-fondo: #f2f2f2;

:root {
  --color-primario: #4caf50;
  --color-secundario: #8bc34a;
  --color-fondo: #f2f2f2;
}

.login2 {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("https://www.agromaquinaria.es/noticias/fotos/la-ganaderia-extensiva-un-0967446001629281468.jpg");

 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.form_login {
  width: 350px;
  max-width: 400%;
  margin: 50px;
  padding: 20px;
background-color: rgba(128, 128, 128, 0.487);
  border-radius: 5px;
  
  text-align: center;
}

.form_login label {
  font-size: 25px;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fefffd;
 
}
.p_error {
  border-radius: 10px;
  
  color: rgb(243, 18, 18);
  font-size: 15px;
  padding: 8px;
  
  
}

.form_login input {
  display: flex;

  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-color:#886214 ;

  border-radius: 5px;
  border-width: 5px;
}

button.boton_login {
  display: inline-block;
  padding: 10px 20px;
  background-color: #886214;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button.boton_login:hover {
  background-color: white;
  cursor: pointer;
  transform: scale(1.1);
  color: black;
}

button.boton_login:active {
  background-color: $color-primario;
  transform: translateY(3px);
}
@media (max-width: 600px) {
  .form_login {
    max-width: 100%;
  }
}
